[user]
    email = giwirodavalos@gmail.com
    name = giwiro

[alias]
    aa = add -A
    ci = commit
    po = push origin HEAD
    co = checkout
    st = status
    graph = log --graph --oneline --decorate --all
